body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #000001;
  background-image: url('images/sunny.png'); /* Default background */
  background-size: cover;
  font-size: 120%;
  color: #aeff7b;
}

/* Other styles */


.card {
  background: rgba(0, 0, 0, 0.8);
  color: #aeff7b;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  box-shadow: 0 0 20px #0affef;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #1a1a1a;
  color: #0affef;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px #0affef;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: rgba(8, 207, 207, 0.918);
  color: #209890e0;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  box-shadow: 0 0 10px #0affef;
}

button:hover {
  background: #0a7070;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
  color: #0affef;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
  color: #0affef;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: #0affef;
  position: absolute;
  top: 0;
  left: 20px;
}
